/* Project Name: COMP308-W2019-MidTerm-300976308
   File Name: app.css
   Name: Tejinder Kaur
   Student id: 300976308
   Date: February 25, 2019 */

/* Custom CSS goes here */
body {
  padding-bottom: 70px;
  background-image: url("/Assets/images/bookback.jpg");

  }

