<!-- Project Name: COMP308-W2019-MidTerm-300976308
   File Name: index.ejs
   Name: Tejinder Kaur
   Student id: 300976308
   Date: February 25, 2019 -->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1 align="center"><b><%= title %></b></h1>
            <h2 align="center"><b>Welcome to <%= title %></b></h2><br><br>
            <img src="../client/Assets/images/children-books-png.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:500px;height:100px" ></i>
        </div>
      </div>
    </div>
    </div>

<% include ../partials/footer.ejs %>